#cabecera {
    height: 152px;
    width: 100%;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    height: 40px;
    width: 100%;
    list-style: none;
    border: black solid 1px;
    margin-top: 13px;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-left: 10px;
}

#contenedor {
    width: 100%;
    border: black solid 1px;
    height: 350px;
    border-left: 0px;
    border-right: 0px;
}

#menu-izquierdo {
    width: 20%;
    float: left;
}

#contenido {
    margin-left: 17px;
    margin-right: 11px;
    width: calc(65% - 34px);
    float: left;
}

#menu-derecho {
    width: 15%;
    float: left;
    height: 350px;
}

#menu-izquierdo,
#menu-derecho,
#contenido {
    border: black solid 1px;
    border-bottom: 0px;
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-bottom: 13px;
}

#menu-izquierdo,
#menu-derecho {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

footer {
    width: 100%;
    text-align: center;
    overflow: auto;
    height: 110px;
    border: 1px solid black;
}