@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* Header estilos */

.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.contenedor {
    background: firebrick;
    width: 100%;
}

.logo {
    display: initial;
    position: absolute;
    margin: 6px;
    margin-left: 10px;
    fill: white;
    width: 35px;
}

#btn-menu {
    display: none;
}

#nav {
    padding: 0;
    margin: 0;
    top: 10vh;
    left: 0;
    width: calc(100% - 30px);
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    background: firebrick;
}

.menu_link {
    padding: 0;
    text-decoration: none;
    color: white;
}

.menu_link:hover {
    /* background: white;
    color: firebrick; */
    font-weight: bold;
}

.banner {
    width: 100%;
}

.register {
    background: firebrick;
    height: 100%;
}

@media screen and (max-width: 768px) {
    #btn-menu {
        display: flex;
        position: relative;
        font-size: 40px;
        height: 10vh;
        color: white;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        /* position: absolute; */
        cursor: pointer;
    }
    #nav {
        position: flex;
        background: firebrick;
        align-items: flex-end;
        padding: 0;
        margin: 0;
    }
    .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        /* display: none; */
        clip-path: circle(100px at 85% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
    }
    .menu.open {
        clip-path: circle(1000px at 85% -30%);
        -webkit-clip-path: circle(1000px at 90% -30%);
    }
    .logo {
        margin: 5px;
        width: 23px;
    }
}