* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.cabecera {
    padding-top: 20px;
}

.imagen_cabecera {
    width: 940px;
    height: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 100%;
}

nav div {
    display: flex;
    height: 40px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(37, 33, 33);
}

.menu {
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-left: 12%;
    padding-right: auto;
}

.menu a {
    padding: 4px;
    color: white;
    text-decoration: none;
}

.contenedor {
    width: 100%;
    height: 561px;
}

.contenido {
    width: 940px;
    height: 561px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.servicios {
    width: 620px;
    height: 533px;
    float: left;
    margin-right: 13px;
    margin-top: 13px;
}

.destacados {
    height: 234px;
    background-color: grey;
}

.destacados h2 {
    color: white;
    padding-left: 15px;
}

.destacados img {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 13px;
    height: calc(100% - 56px);
    width: calc(45% - 13px);
    float: left;
}

.leyenda-destacados {
    margin-top: 13px;
    margin-bottom: 13px;
    width: calc(55% - 13px);
    float: right;
}

.leyenda-destacados h3,
p {
    margin-right: 13px;
    color: white;
}

.leyenda-destacados button {
    float: right;
    margin-right: 10px;
}

.titulo-destacados {
    background-color: rgb(37, 33, 33);
}

.programacion-web {
    background-color: grey;
    height: 285px;
    width: calc(50% - 6px);
    float: left;
    margin-top: 13px;
}

.titulo-programacion-web,
.titulo-webdesing {
    background-color: rgb(37, 33, 33);
    color: white;
    padding-left: 15px;
}

.leyenda-programacion-web,
.leyenda-webdesing {
    color: white;
    margin: 10px;
}

.leyenda-programacion-web button,
.leyenda-webdesing button {
    float: right;
}

.mas-articulos-pw,
.mas-articulos-webdesing {
    background-color: rgb(37, 33, 33);
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    float: left;
    padding-left: 15px;
    color: white;
    margin-top: 10px;
}

.articulos-pw,
.articulos-webdesing {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    float: left;
    padding-left: 30px;
    color: white;
    list-style: none;
    margin-top: 15px;
}

.articulos-pw a,
.articulos-webdesing a {
    text-decoration: none;
    color: white;
}

.webdesing {
    background-color: grey;
    height: 285px;
    width: calc(50% - 6px);
    float: right;
    margin-top: 13px;
}

.panel-derecho {
    width: 307px;
    height: 533px;
    float: right;
    margin-top: 13px;
    background-color: grey;
}

.busqueda {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.busqueda input {
    width: 100%;
    height: 30px;
}

.mas-leidos-titulo {
    background-color: rgb(37, 33, 33);
    color: white;
    padding-left: 15px;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.mas-leidos-articulos {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    float: left;
    padding-left: 40px;
    color: grey;
    list-style: none;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mas-leidos-articulos a {
    text-decoration: none;
    color: grey;
}

.mosaico {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.mosaico img {
    width: 100%;
    height: 130px;
}

.img-mosaico-1 {
    float: left;
    width: calc(50% - 5px);
    margin-right: 5px;
    margin-top: 10px;
}

.img-mosaico-2 {
    float: right;
    width: calc(50% - 5px);
    margin-left: 5px;
    margin-top: 10px;
}

.img-mosaico-3 {
    float: left;
    width: calc(50% - 5px);
    margin-right: 5px;
    margin-top: 10px;
    clear: left;
}

.img-mosaico-4 {
    float: right;
    width: calc(50% - 5px);
    margin-left: 5px;
    margin-top: 10px;
}

footer {
    clear: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

.foot {
    width: 940px;
    height: 30px;
    background-color: grey;
    color: white;
    padding-top: 7px;
    padding-left: 15px;
}