* {
    margin: auto;
    padding: 0;
}

.fondo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)), url('../img/acercade.jpg');
    background-size: cover;
    background-position: center;
}